<!DOCTYPE html>

<!-- 	
	This file is rendered by express.js, when the home url of the chat is opened in a browser.
	It doesn't do much, except showing the create button for the chat.
 -->

<html>

<head>

	<title>King Pro Plugins | Support Chat</title>

	<link type="text/css" rel="stylesheet" href="css/stylesheet.css" />
	<link href="http://fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700" rel="stylesheet" type="text/css">
        <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Source+Sans+Pro%3A300%2C400%2C700%2C300italic%2C400italic%2C700italic%7CBitter%3A400%2C700&#038;subset=latin%2Clatin-ext' type='text/css' media='all' />

</head>

<body>

	<header class="homebanner">
            <div class='wrapper'>

            <h1 class="site-title"><a href="http://kingpro.me/" title="King Pro Plugins" rel="home">King Pro Plugins</a></h1>

            </div>
	</header>

	<section>

		<div class="homesection">

			<a title="Create" href="/create" id="create">
				<div id="createbutton">
					<div id="little">Begin a</div>
					<div id="big">SUPPORT CHAT</div>
				</div>
			</a>
		</div>

	</section>

</body>
</html>
